* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.btn {
    padding: 20px 100px;
    border: none;
    border-radius: 5%;
    font-size: larger;
}

.btn:active{
    cursor: none;
    border: none;
}