* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.btn {
    padding: 20px 100px;
    border: none;
    border-radius: 5%;
    font-size: larger;
    background-color: antiquewhite;
}

.btn:hover {
    background-color: aliceblue;
    font-weight: bold;
    cursor: grab;
}

.btn:active{
    cursor: grabbing;
    border: none;
}